
/* INFO Generic look for all examples */

body {
	background: #999;
	color: #000;
	margin: 0em;
}

h1, h2 {
	font-size: 2em;
	margin: 0.5em;
}

p, pre {
	margin: 1em;
	overflow: auto;
}

div.Box {
	margin: 1em;
	overflow: hidden;
}
div.Box.Red {
	background: #fdd;
}
div.Box.Green {
	background: #dfd;
}
div.Box.Blue {
	background: #ddf;
}
div.Box.Yellow {
	background: #ffd;
}
